.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--violet_-2);
    background-color: var(--violet_-4);
    border-radius: 5px;
    color: var(--gray_0);
    font-family: 'Inter';
}

.btn .price {
    text-align: left;
    color: var(--success_0);
    width: 30px;
}

.btn .price.bth {
    text-align: left;
    color: var(--red_-1);
    width: 30px;
}

#info-upgrades {
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2;
    padding: 20px;
    width: calc(300px - 40px);
    position: absolute;
    left: 20px;
    top: 10%;
    border: 3px solid var(--violet_-2);
    background-color: var(--violet_-4);
    border-radius: 24px;
}

#info-upgrades h3 {
    font-size: 24px;
    color: var(--success_1);
    font-family: 'Inter';
}

#upgrade-popup {
    z-index: 2;
    padding: 20px;
    width: calc(300px - 40px);
    position: absolute;
    right: 20px;
    top: 10%;
    gap: 10px;
    border: 3px solid var(--violet_-2);
    background-color: var(--violet_-4);
    border-radius: 24px;
}

#upgrade-popup .tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.upgrade-section {
    gap: 8px;
    flex-direction: column;
    display: flex;
}

.upgrade-section h3 {
    margin: 20px 0 0;
    font-size: 24px;
    color: var(--success_1);
    font-family: 'Inter';
}